{
  "log": {
    "_recordingName": "fetchTenableDataValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "405fb7649b9019286ac2a5d7262053bd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/container-security/api/v1/container/list"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2,
            "text": "[]"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "1c28c4d2c4b6d2b02b10478f80f5ace9"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-rki95-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 382,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
