{
  "log": {
    "_recordingName": "fetchAssetsExportStatusValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e6976f3824d70f06957f2ac1387889e6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export/5f565ebe-6055-411a-8985-2a07f8ae8549/status"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 44,
            "text": "{\"status\":\"FINISHED\",\"chunks_available\":[1]}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "0f4df86d3ff41ed4654a08a7a548ffab"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-zaaxa-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 477,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
