{
  "log": {
    "_recordingName": "fetchUsersValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "77cd1f89ebbf365dd16577b27d4a7d73",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1689,
            "text": "{\"users\":[{\"uuid\":\"578841ee-09e3-4bf6-b61b-1023783016cc\",\"id\":2109705,\"user_name\":\"adam.williams@jupiterone.io\",\"username\":\"adam.williams@jupiterone.io\",\"email\":\"adam.williams@jupiterone.io\",\"name\":\"Adam Williams\",\"type\":\"local\",\"permissions\":64,\"roles\":[],\"last_login_attempt\":1603477712673,\"login_fail_count\":0,\"login_fail_total\":4,\"last_apikey_access\":1621015062392,\"enabled\":true,\"undeletable\":true,\"group_uuids\":[\"00000000-0000-0000-0000-000000000000\"],\"lockout\":0,\"container_uuid\":\"a890fa21-6925-47cd-9a99-9ec5660ebfc1\",\"lastlogin\":1620065138061,\"uuid_id\":\"578841ee-09e3-4bf6-b61b-1023783016cc\"},{\"uuid\":\"6948e98b-82fd-4da6-807e-db5463027e07\",\"id\":2110185,\"user_name\":\"austin.kelleher@jupiterone.io\",\"username\":\"austin.kelleher@jupiterone.io\",\"email\":\"austin.kelleher@jupiterone.io\",\"name\":\"Austin Kelleher\",\"type\":\"local\",\"permissions\":64,\"roles\":[],\"login_fail_count\":0,\"login_fail_total\":0,\"enabled\":true,\"undeletable\":false,\"group_uuids\":[\"00000000-0000-0000-0000-000000000000\"],\"lockout\":0,\"container_uuid\":\"a890fa21-6925-47cd-9a99-9ec5660ebfc1\",\"lastlogin\":1602165458271,\"uuid_id\":\"6948e98b-82fd-4da6-807e-db5463027e07\"},{\"uuid\":\"9d774e3f-a78b-4718-8dfa-ceb2a0f65440\",\"id\":2232707,\"user_name\":\"kenan.warren@jupiterone.io\",\"username\":\"kenan.warren@jupiterone.io\",\"email\":\"kenan.warren@jupiterone.com\",\"name\":\"Kenan Warren\",\"type\":\"local\",\"permissions\":64,\"roles\":[],\"login_fail_count\":0,\"login_fail_total\":0,\"last_apikey_access\":1621284959026,\"enabled\":true,\"undeletable\":false,\"group_uuids\":[\"00000000-0000-0000-0000-000000000000\"],\"lockout\":0,\"container_uuid\":\"a890fa21-6925-47cd-9a99-9ec5660ebfc1\",\"lastlogin\":1620870011980,\"uuid_id\":\"9d774e3f-a78b-4718-8dfa-ceb2a0f65440\"}]}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "4cf460e3933af6ecd02718d5ce5e4ff7"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-rki95-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 366,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
