{
  "log": {
    "_recordingName": "fetchAssetVulnerabilityInfoValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "264969b28baf64b80f08b58e0b40aa1a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/workbenches/assets/48cabb0b-f0fe-4db8-9a96-4fec60e4d4f4/vulnerabilities/10386/info"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1176,
            "text": "{\"info\":{\"count\":1,\"vuln_count\":1,\"recasted_count\":0,\"accepted_count\":0,\"description\":\"The remote web server is configured such that it does not return '404 Not Found' error codes when a nonexistent file is requested, perhaps returning instead a site map, search page or authentication page.\\n\\nNessus has enabled some counter measures for this.  However, they might be insufficient.  If a great number of security holes are produced for this port, they might not all be accurate.\",\"synopsis\":\"The remote web server does not return 404 error codes.\",\"discovery\":{\"seen_first\":\"2021-05-12T22:27:03.798Z\",\"seen_last\":\"2021-05-12T22:27:03.798Z\"},\"severity\":0,\"plugin_details\":{\"family\":\"Web Servers\",\"modification_date\":\"2020-06-12T00:00:00Z\",\"name\":\"Web Server No 404 Error Code Check\",\"publication_date\":\"2000-04-28T00:00:00Z\",\"type\":\"remote\",\"version\":\"1.99\",\"severity\":0},\"reference_information\":[],\"risk_information\":{\"risk_factor\":\"None\",\"cvss_vector\":null,\"cvss_base_score\":null,\"cvss_temporal_vector\":null,\"cvss_temporal_score\":null,\"cvss3_vector\":null,\"cvss3_base_score\":null,\"cvss3_temporal_vector\":null,\"cvss3_temporal_score\":null,\"stig_severity\":null},\"see_also\":[]}}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "7a6141142c885fb1eeff5f96d42b61d7"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-zaaxa-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 504,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
