{
  "log": {
    "_recordingName": "fetchScansValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "01e43c0a17c62afa11d16ab63c4c0c63",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/scans"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3316,
            "text": "{\"folders\":[{\"unread_count\":0,\"custom\":0,\"default_tag\":0,\"type\":\"trash\",\"name\":\"Trash\",\"id\":8},{\"unread_count\":0,\"custom\":0,\"default_tag\":1,\"type\":\"main\",\"name\":\"My Scans\",\"id\":9}],\"scans\":[{\"template_uuid\":\"bbd4f805-3966-d464-b2d1-0079eb89d69708c3a05ec2812bcf\",\"permissions\":128,\"legacy\":false,\"type\":\"remote\",\"read\":true,\"last_modification_date\":1620069815,\"creation_date\":1620069672,\"status\":\"aborted\",\"uuid\":\"f0573f00-f081-46cc-9556-d65841684a9b\",\"shared\":false,\"user_permissions\":128,\"owner\":\"kenan.warren@jupiterone.io\",\"schedule_uuid\":\"template-75692dd9-702b-be52-6984-207aa3d94d0c694f4a0685a6de94\",\"timezone\":null,\"rrules\":null,\"starttime\":null,\"enabled\":false,\"control\":true,\"wizard_uuid\":\"bbd4f805-3966-d464-b2d1-0079eb89d69708c3a05ec2812bcf\",\"policy_id\":10,\"name\":\"J1 Test\",\"id\":11},{\"template_uuid\":\"e785b26c-5b4d-5da8-6643-007ea1f8ee1c8f23937a4bd45a1d\",\"permissions\":128,\"legacy\":false,\"type\":\"agent\",\"read\":true,\"last_modification_date\":1620863408,\"creation_date\":1620860648,\"status\":\"completed\",\"uuid\":\"87528253-ba7a-4160-8b19-f4ebc9698f8a\",\"shared\":false,\"user_permissions\":128,\"owner\":\"kenan.warren@jupiterone.io\",\"schedule_uuid\":\"template-55249dcb-6536-0fd3-86b8-9963d49965316e294d761e38fd6f\",\"timezone[...]
