{
  "log": {
    "_recordingName": "fetchVulnerabilitiesExportStatusValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c2bcae135e9e4ef5b2a654c56148c3e7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/vulns/export/7f50d16f-f125-47c6-901d-152586f4e23d/status"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 420,
            "text": "{\"uuid\":\"7f50d16f-f125-47c6-901d-152586f4e23d\",\"status\":\"FINISHED\",\"chunks_available\":[1],\"chunks_failed\":[],\"chunks_cancelled\":[],\"total_chunks\":1,\"chunks_available_count\":1,\"empty_chunks_count\":0,\"finished_chunks\":1,\"filters\":{\"state\":[\"OPEN\",\"REOPENED\",\"FIXED\"],\"tags\":{},\"since\":0,\"first_found\":1009861200,\"last_found\":0,\"last_fixed\":0,\"first_seen\":0,\"last_seen\":0},\"num_assets_per_chunk\":50,\"created\":1621294155922}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "d5b915b46ed8dc9d041e59fbd3065960"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-mkvmi-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 310,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
