{
  "log": {
    "_recordingName": "fetchAssetsValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "d3cf14751e3c1d90e8b77dd7b3b781ec",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/assets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1195,
            "text": "{\"assets\":[{\"id\":\"604894a3-b8af-4479-85b4-e00343dbd309\",\"has_agent\":true,\"last_seen\":\"2021-05-13T00:55:14.227Z\",\"last_scan_target\":\"159.89.38.68\",\"sources\":[{\"name\":\"NESSUS_AGENT\",\"first_seen\":\"2021-05-12T23:48:13.622Z\",\"last_seen\":\"2021-05-13T00:55:14.227Z\"}],\"ipv4\":[\"159.89.38.68\",\"10.17.0.8\",\"10.132.0.4\"],\"ipv6\":[\"fe80:0:0:0:3425:49ff:fefb:f386\",\"fe80:0:0:0:a4a1:a1ff:fe62:35a6\"],\"fqdn\":[],\"netbios_name\":[],\"operating_system\":[\"Linux Kernel 4.19.0-10-cloud-amd64 on Debian 10.5\"],\"agent_name\":[\"debian-s-1vcpu-1gb-nyc3-01\"],\"aws_ec2_name\":[],\"security_protection_level\":null,\"security_protections\":[],\"exposure_confidence_value\":null,\"mac_address\":[]},{\"id\":\"48cabb0b-f0fe-4db8-9a96-4fec60e4d4f4\",\"has_agent\":false,\"last_seen\":\"2021-05-12T22:27:03.798Z\",\"last_scan_target\":\"104.131.67.167\",\"sources\":[{\"name\":\"NESSUS_SCAN\",\"first_seen\":\"2021-05-12T22:27:03.798Z\",\"last_seen\":\"2021-05-12T22:27:03.798Z\"}],\"ipv4\":[\"104.131.67.167\"],\"ipv6\":[],\"fqdn\":[],\"netbios_name\":[],\"operating_system\":[\"Linux Kernel 4.15 on Ubuntu 18.04 (bionic)\"],\"agent_name\":[],\"aws_ec2_name\":[],\"security_protection_level\":null,\"security_protections\":[],\"exposure_confidence_value\":null,\"mac_address\":[]}],\"total\":2}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "6be6c8610bceecc1a418b425091ac523"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-dk4no-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 450,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
