{
  "log": {
    "_recordingName": "exportAssetsValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "13f407143817c1078c52730416aef925",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"chunk_size\":100}"
          },
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 54,
            "text": "{\"export_uuid\":\"5f565ebe-6055-411a-8985-2a07f8ae8549\"}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "e42280d42c30fda70d00e7a0800b8afe"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-zaaxa-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 302,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
