{
  "log": {
    "_recordingName": "exportVulnerabilitiesValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "83540e56058b64ea587da7b3e5d74671",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"num_assets\":50,\"filters\":{\"first_found\":1009861200,\"state\":[\"open\",\"reopened\",\"fixed\"]}}"
          },
          "queryString": [],
          "url": "https://cloud.tenable.com/vulns/export"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 54,
            "text": "{\"export_uuid\":\"7f50d16f-f125-47c6-901d-152586f4e23d\"}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "91ee14317fedf515a581ba55c8a3eefb"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-j0vwe-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1146,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
