{
  "log": {
    "_recordingName": "fetchScanHostVulnerabilitiesValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "86910c7fc5df3dc7b911abc15117fd91",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/scans/17/hosts/1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 632,
            "text": "{\"info\":{\"mac-address\":null,\"host-fqdn\":\"debian-s-1vcpu-1gb-nyc3-01\",\"host-ip\":\"159.89.38.68\",\"operating-system\":null,\"host_end\":\"Thu May 13 00:55:14 2021\",\"host_start\":\"Wed May 12 22:43:03 2021\"},\"vulnerabilities\":[{\"count\":2,\"host_id\":1,\"hostname\":\"debian-s-1vcpu-1gb-nyc3-01\",\"plugin_family\":\"Port scanners\",\"plugin_id\":14272,\"plugin_name\":\"Netstat Portscanner (SSH)\",\"severity\":0,\"severity_index\":0,\"vuln_index\":0},{\"count\":1,\"host_id\":1,\"hostname\":\"debian-s-1vcpu-1gb-nyc3-01\",\"plugin_family\":\"Settings\",\"plugin_id\":19506,\"plugin_name\":\"Nessus Scan Information\",\"severity\":0,\"severity_index\":0,\"vuln_index\":0}],\"compliance\":[]}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "7935a54c715ddc52aaa3aaaaecb4b9ef"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-j0vwe-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 808,
      },
      {
        "_id": "77cd1f89ebbf365dd16577b27d4a7d73",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1689,
            "text": "{\"users\":[{\"uuid\":\"578841ee-09e3-4bf6-b61b-1023783016cc\",\"id\":2109705,\"user_name\":\"adam.williams@jupiterone.io\",\"username\":\"adam.williams@jupiterone.io\",\"email\":\"adam.williams@jupiterone.io\",\"name\":\"Adam Williams\",\"type\":\"local\",\"permissions\":64,\"roles\":[],\"last_login_attempt\":1603477712673,\"login_fail_count\":0,\"login_fail_total\":4,\"last_apikey_access\":1621015062392,\"enabled\":true,\"undeletable\":true,\"group_uuids\":[\"00000000-0000-0000-0000-000000000000\"],\"lockout\":0,\"container_uuid\":\"a890fa21-6925-47cd-9a99-9ec5660ebfc1\",\"lastlogin\":1620065138061,\"uuid_id\":\"578841ee-09e3-4bf6-b61b-1023783016cc\"},{\"uuid\":\"6948e98b-82fd-4da6-807e-db5463027e07\",\"id\":2110185,\"user_name\":\"austin.kelleher@jupiterone.io\",\"username\":\"austin.kelleher@jupiterone.io\",\"email\":\"austin.kelleher@jupiterone.io\",\"name\":\"Austin Kelleher\",\"type\":\"local\",\"permissions\":64,\"roles\":[],\"login_fail_count\":0,\"login_fail_total\":0,\"enabled\":true,\"undeletable\":false,\"group_uuids\":[\"00000000-0000-0000-0000-000000000000\"],\"lockout\":0,\"container_uui[...]
