{
  "log": {
    "_recordingName": "fetchReportByImageDigestValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "78f913cee9da638941b4eab7ba4fd8ff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "image_digest",
              "value": "sha256:5887b9b394294f66c2f8ef1b4bdddbdd7fcc4512df5ee470c5e74f6e8ed603c6"
            }
          ],
          "url": "https://cloud.tenable.com/container-security/api/v1/reports/by_image_digest?image_digest=sha256%3A5887b9b394294f66c2f8ef1b4bdddbdd7fcc4512df5ee470c5e74f6e8ed603c6"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 40538,
            "text": "{\n      \"malware\": [],\n      \"sha256\": \"sha256:5887b9b394294f66c2f8ef1b4bdddbdd7fcc4512df5ee470c5e74f6e8ed603c6\",\n      \"os\": \"LINUX_ALPINE\",\n      \"risk_score\": 8,\n      \"findings\": [\n        {\n          \"nvdFinding\": {\n            \"cve\": \"CVE-2018-1000620\",\n            \"description\": \"Eran Hammer cryptiles version 4.1.1 earlier contains a CWE-331: Insufficient Entropy vulnerability in randomDigits() method that can result in An attacker is more likely to be able to brute force something that was supposed to be random.. This attack appear to be exploitable via Depends upon the calling application.. This vulnerability appears to have been fixed in 4.1.2.\",\n            \"published_date\": \"2018-07-09T16:29:00.737-04:00\",\n            \"modified_date\": \"\",\n            \"cvss_score\": \"5.0\",\n            \"access_vector\": \"NETWORK\",\n            \"access_complexity\": \"LOW\",\n            \"auth\": \"NONE\",\n            \"availability_impact\": \"NONE\",\n            \"confidentiality_impact\": \"PARTIAL\",\n            \"integrity_impact\": \"NONE\",\n            \"cwe\": \"CWE-331\",\n            \"cpe\": [\"cpe:/a:cryptiles_project:cryptiles:4.1.1\"],\n            \"remediation\": \"\",\n            \"references\": []\n          },\n          \"packages\": [\n            {\n              \"name\": \"cryptiles\",\n              \"version\": \"3.1.2\",\n              \"type\": \"nodejs\",\n              \"license\": \"BSD-3-Clause\"\n            }\n          ]\n        },\n        {\n          \"nvdFinding\": {\n            \"cve\": \"CVE-2018-16487\",\n            \"description\": \"A prototype pollution vulnerability was found in lodash <4.17.11 where the functions merge, mergeWith, and defaultsDeep can be tricked into adding or modifying properties of Object.prototype.\",\n            \"published_date\": \"2019-02-01T13:29:00.943-05:00\",\n            \"modified_date\": \"\",\n            \"cvss_score\"[...]
