{
  "log": {
    "_recordingName": "fetchUserPermissionsValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "88040ae114ef867e8df74e2ed0bc8f8d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2260,
            "text": "{\"id\":2232707,\"uuid\":\"9d774e3f-a78b-4718-8dfa-ceb2a0f65440\",\"uuid_id\":\"9d774e3f-a78b-4718-8dfa-ceb2a0f65440\",\"username\":\"kenan.warren@jupiterone.io\",\"user_name\":\"kenan.warren@jupiterone.io\",\"email\":\"kenan.warren@jupiterone.com\",\"name\":\"Kenan Warren\",\"type\":\"local\",\"permissions\":64,\"user_permissions\":[],\"enabled\":true,\"login_fail_count\":0,\"login_fail_total\":0,\"container_id\":2001791,\"container_uuid\":\"a890fa21-6925-47cd-9a99-9ec5660ebfc1\",\"container_name\":\"jupiterone.io-626\",\"container_type\":\"local\",\"features\":{\"access_groups\":true,\"access_groups_migration\":false,\"advanced_search_v2\":true,\"agent_triage_m2\":true,\"agent_updates\":true,\"analytics\":true,\"analytics_v2\":true,\"asset_deleting_ui\":true,\"asset_management\":true,\"audits_workbench\":false,\"aws_connector_v1\":true,\"cfl_core_ssor\":false,\"connectors_gen2\":false,\"container_security\":true,\"container_security_gen2\":true,\"credentials_mgmt\":true,\"credentials_mgmt_v2\":true,\"dashboards_gen2\":false,\"dashboards_gen2_blank_canvas\":false,\"dashboards_gen2_export\":false,\"dashboards_gen2_export_png\":false,\"dashboards_gen2_lumin_enabled\":false,\"dashboards_gen2_schedule\":false,\"dashboards_gen2_tag_filter\":false,\"dashboards_gen2_widget_filters\":false,\"dashboards_gen2_widget_library\":false,\"dynamic_tagging\":true,\"environment_management\":false,\"export_dashboard\":true,\"export_dashboard_pdf\":true,\"general_data_protection_compliance\":false,\"import_data\":false,\"indexing_v2\":true,\"lumin_beta_allowed\":false,\"lumin_beta_enabled\":false,\"modify_vulnerability\":false,\"pci_multiscan\":false,\"qualys_connector\":false,\"qualys_vuln_connector\":false,\"rbac\":true,\"recast_rules\":true,\"reporting\":true,\"scan_service\":true,\"scans_gen2\":false,\"state\":false,\"suggest_feature\":false,\"tagging\":true,\"vm_service_query\":false,\"vulnerability_management_gen2\":true,\"was_discovery\":false,\"was_multi_scanning\":false,\"was_plugin_selection\":true,\"was_scan_progress\":true,\"webapp_scanning\":false,\"webapp_scanning_gen2\":false,\"system\":false},\"apps\":{\"pci\":\"basic\"},\"group_uuids\":[\"00000000-0000-0000-0000-000000000000\"],\"groups\":[{\"uuid\":\"00000000-0000-0000-0000-000000000000\",\"immutable\":true,\"membership_fixed\":true,\"name\":\"All Users\",\"role\":\"BASIC\",\"id\":0,\"container_uuid\":\"a890fa21-6925-47cd-9a99-9ec5660ebfc1\"}],\"lastlogin\":1620870011980}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "283855490fcd5dc12d3cb1420cb67e99"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-rk0z5-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 358,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
