{
  "log": {
    "_recordingName": "fetchScanDetailValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "011b24f1042bc0ba60300002d6c17826",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/scans/17"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 20429,
            "text": "{\"info\":{\"owner\":\"kenan.warren@jupiterone.io\",\"name\":\"Kenan's DigitalOcean Agent Test\",\"no_target\":false,\"folder_id\":8,\"control\":true,\"user_permissions\":128,\"schedule_uuid\":\"template-b9a3940c-9b94-6ca3-19ef-1bbbef6116195e0dedcf141fd667\",\"edit_allowed\":false,\"scanner_name\":null,\"policy\":\"Policy Compliance Auditing\",\"shared\":null,\"object_id\":17,\"tag_targets\":null,\"acls\":[{\"permissions\":0,\"owner\":null,\"display_name\":null,\"name\":null,\"uuid\":null,\"id\":null,\"type\":\"default\"},{\"permissions\":128,\"owner\":1,\"display_name\":\"Kenan Warren\",\"name\":\"kenan.warren@jupiterone.io\",\"uuid\":\"9d774e3f-a78b-4718-8dfa-ceb2a0f65440\",\"id\":2232707,\"type\":\"user\"}],\"hostcount\":1,\"uuid\":\"a4c0b1b7-8e87-41e0-bd62-a284264b1b93\",\"status\":\"completed\",\"scan_type\":\"agent\",\"targets\":\"127.0.0.1\",\"alt_targets_used\":false,\"pci-can-upload\":false,\"scan_start\":1620859383,\"timestamp\":1620867429,\"is_archived\":false,\"reindexing\":false,\"agent_count\":1,\"agent_targets\":[{\"id\":128691,\"uuid\":\"8b478f5e-c316-42d3-9552-204f12fb803e\",\"name\":\"Kenan Test\"}],\"scan_end\":1620867429,\"haskb\":true,\"hasaudittrail\":false,\"scanner_start\":null,\"scanner_end\":null},\"hosts\":[{\"asset_id\":1,\"host_id\":1,\"uuid\":\"604894a3-b8af-4479-85b4-e00343dbd309\",\"hostname\":\"debian-s-1vcpu-1gb-nyc3-01\",\"progress\":\"100-100/200-200\",\"scanprogresscurrent\":100,\"scanprogresstotal\":100,\"numchecksconsidered\":100,\"totalchecksconsidered\":100,\"severitycount\":{\"item\":[{\"count\":3,\"severitylevel\":0},{\"count\":0,\"severitylevel\":1},{\"count\":0,\"severitylevel\":2},{\"count\":0,\"severitylevel\":3},{\"count\":0,\"severitylevel\":4}]},\"severity\":3,\"score\":3,\"info\":3,\"low\":0,\"medium\":0,\"high\":0,\"critical\":0,\"host_index\":0}],\"vulnerabilities\":[{\"count\":2,\"plugin_id\":14272,\"plugin_name\":\"Netstat Portscanner (SSH)\",\"severity\":0,\"plugin_family\":\"Port scanners\",\"vuln_index\":1},{\"count\":1,\"plugin_id\":19506,\"plugin_name\":\"Nessus Scan Information\",\"severity\":0,\"plugin_family\":\"Settings\",\"vuln_index\":2}],\"comphosts\":[],\"compliance\":[],\"filters\":[{\"name\":\"host.id\",\"readable_name\":\"Asset ID\",\"control\":{\"type\":\"entry\",\"regex\":\"[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}(,[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12})*\",\"readable_regex\":\"01234567-abcd-ef01-2345-6789abcdef01\"},\"operators\":[\"eq\",\"neq\",\"match\",\"nmatch\"],\"group_name\":\"vulnerability\"},{\"name\":\"plugin.attributes.bid\",\"readable_name\":\"Bugtraq ID\",\"control\":{\"type\":\"entry\",\"regex\":\"^[0-9]+(,[0-9]+)*\",\"readable_regex\":\"NUMBER\",\"maxlength\":18},\"operators\":[\"eq\",\"neq\",\"match\",\"nmatch\"],\"group_name\":\"vulnerability\"},{\"name\":\"plugin.attributes.exploit_framework_canvas\",\"readable_name\":\"CANVAS Exploit Framework\",\"control\":{\"type\":\"dropdown\",\"list\":[\"true\",\"false\"]},\"operators\":[\"eq\",\"neq\"],\"group_name\":\"vulnerability\"},{\"name\":\"plugin.attributes.canvas_package\",\"readable_name\":\"CANVAS Package\",\"control\":{\"type\":\"dropdown\",\"list\":[\"CANVAS\",\"D2ExploitPack\",\"White_Phosphorus\"]},\"operators\":[\"eq\",\"neq\"],\"group_name\":\"vulnerability\"},{\"name\":\"plugin.attributes.xref:CERT-CC\",\"readable_name\":\"CERT Advisory ID\",\"control\":{\"type\":\"entry\",\"regex\":\"^CA-[0-9]+-[0-9]+(,CA-[0-9]+-[0-9]+)*$\[...]
