{
  "log": {
    "_recordingName": "fetchContainersValid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "405fb7649b9019286ac2a5d7262053bd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/container-security/api/v1/container/list"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1195,
            "text": "[{\"number_of_vulnerabilities\":\"10\",\"name\":\"centos\",\"size\":\"529\",\"digest\":\"sha256:ca58fe458b8d94bc6e3072f1cfbd334855858e05e1fd633aa07cf7f82b048e66\",\"repo_name\":\"centos\",\"score\":\"10.0\",\"id\":\"-6952964665681573380\",\"status\":\"ready\",\"created_at\":\"2019-05-21T19:36:05.003Z\",\"repo_id\":\"3680563368675867268\",\"platform\":\"Docker\",\"updated_at\":\"2019-08-08T12:21:35.736Z\"},{\"number_of_vulnerabilities\":\"0\",\"name\":\"node\",\"size\":\"1158\",\"digest\":\"sha256:1edb77942782fc99d6b1ad53c78dd602ae5ee4f26e49edb49555faf749574ae9\",\"repo_name\":\"node\",\"score\":\"0.0\",\"id\":\"8982661829018903121\",\"status\":\"ready\",\"created_at\":\"2019-08-08T12:29:27.099Z\",\"repo_id\":\"586161217152681801\",\"platform\":\"Docker\",\"updated_at\":\"2019-08-08T12:29:34.623Z\"},{\"number_of_vulnerabilities\":\"3\",\"name\":\"node\",\"size\":\"951\",\"digest\":\"sha256:5887b9b394294f66c2f8ef1b4bdddbdd7fcc4512df5ee470c5e74f6e8ed603c6\",\"repo_name\":\"node\",\"score\":\"8.0\",\"id\":\"1235412818427792081\",\"status\":\"ready\",\"created_at\":\"2019-07-23T12:55:19.686Z\",\"repo_id\":\"586161217152681801\",\"platform\":\"Docker\",\"updated_at\":\"2019-08-08T09:04:00.909Z\"}]"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "a9388e67c859256c075369d249970426"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-2m23u-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 392,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
